<h1>Data#sendData</h1>
<h1>Ip podane: <%= @name %></h1>
<p><%= @city %></p>

<p><%= @region %></p>

<p><%= @country %></p>

<p><%= @loc %></p>

<p><%= @org %></p>

<p><%= @postal %></p>

<p><%= @timezone %></p>

